html {
  position: relative;
  min-height: 100%;
}

body {
	background-color:#262626;
	/* Margin bottom by footer height */
		margin-bottom: 60px;
		font-size: 20px;
		color: orange;
		font-family: burtonsNightmare, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* #wrap {
	background-color:#262626;
	color:#646464;
} */

#header {
	background-color:black;
	height:100px;
}

#title {
	color:#fff;
	text-align:center;
	font-family:'Shlop', sans-serif;
	padding-top:16px;
}

/* add font-face to add downloaded font to css */
@font-face {
	font-family: burtonsNightmare;
	src: url('/Users/chehlsee/Library/Fonts/NITEMARE.TTF');
} 

.timBurton {
	color: white;
	text-align:center;
	font-family: burtonsNightmare, sans-serif;
}


#buttonArea{
	margin-top:10px;
}

.btn {
	margin:3px;
}

#gifArea {
	margin-top:20px;
}

.orangeBorder {
	border-radius: 5px;
	border: 2px solid orange;
}

.submit {
	background-color: #262626;
	color:white;
	border:1px solid #646464;
}

.footer {
		position: absolute;
		font-family: burtonsNightmare;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align:center;
    background-color: black;
}

.credits {
	font-size: 20px;
	color: white;
}
.clear {
	clear:both;
}